section {
  width: 100%;
  height: 48vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 20.972vw;
  height: 100%;
  border-radius: 25%;
  position: relative;

  .shadow {
    width: 14.8vw;
    height: 28.8vw;
    z-index: -1;
    left: 50%;
    -moz-box-shadow: 0.069vw 1.597vw 5.903vw 0.972vw rgb(112 112 112 / 39%);
    box-shadow: 0.069vw 1.597vw 5.903vw 0.972vw rgb(112 112 112 / 39%);
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    position: absolute;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
}

.text {
  width: 39.444vw;


  h3 {
    color: #FA4A0C;
    font-size: 1.667vw;
  }

  h1 {
    font-size: 2.778vw;
    margin: 1.181vw 0;
  }

  p {
    font-size: 1.667vw;
    color: #737373;
  }
}

.wrapper {
  width: 72.222vw;
  height: 36.458vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
